데이터 모듈 및 로딩 <hr>

In [8]:
import pandas as pd

데이터 준비

In [9]:
ART_JG_23_1 = './DATA/23ART_Jung-gu/1_M/23_Year Apartment_Jung-gu_1month.xlsx'
ART_JG_23_12 = './DATA/23ART_Jung-gu/12_M/23_Year Apartment_Jung-gu_12month.xlsx'

ART_BG_23_1 = './DATA/23ART_Buk-gu/1_M/23_Year_Apartment_Buk-gu_1month.xlsx'
ART_BG_23_12 = './DATA/23ART_Buk-gu/12_M/23_Year_Apartment_Buk-gu_12month.xlsx'

In [10]:
#pip install openpyxl

In [11]:
#  엑셀 파일 변환 => CSV

ART_JG_23_1 = pd.read_excel(ART_JG_23_1)
ART_JG_23_12 = pd.read_excel(ART_JG_23_12)

ART_BG_23_1 = pd.read_excel(ART_BG_23_1)
ART_BG_23_12 = pd.read_excel(ART_BG_23_12)

In [12]:
file1 = './DATA/23ART_Jung-gu/1_M/ART_BJ_23_1.CSV'
file2 = './DATA/23ART_Jung-gu/12_M/ART_BJ_23_12.CSV'
file3 = './DATA/23ART_Buk-gu/1_M/ART_BG_23_1.CSV'
file4 = './DATA/23ART_Buk-gu/12_M/ART_BG_23_12.CSV'




ART_JG_23_1.to_csv(file1)
ART_JG_23_12.to_csv(file2)

ART_BG_23_1.to_csv(file3)
ART_BG_23_12.to_csv(file4)

데이터 CSV 로 읽어 오기

In [13]:
ART_JG_23_1df = pd.read_csv('./DATA/23ART_Jung-gu/1_M/ART_BJ_23_1.CSV') 
ART_JG_23_12df = pd.read_csv('./DATA/23ART_Jung-gu/12_M/ART_BJ_23_12.CSV') 

ART_BG_23_1df = pd.read_csv('./DATA/23ART_Buk-gu/1_M/ART_BG_23_1.CSV')
ART_BG_23_12df = pd.read_csv('./DATA/23ART_Buk-gu/12_M/ART_BG_23_12.CSV')

In [14]:
ART_JG_23_1df.drop(columns=['Unnamed: 0'], inplace=True)
ART_JG_23_1df.columns = ['아파트','가격','면적','층','위치']

ART_JG_23_12df.drop(columns=['Unnamed: 0'], inplace=True)
ART_JG_23_12df.columns = ['아파트','가격','면적','층','위치']

ART_BG_23_1df.drop(columns=['Unnamed: 0'],inplace=True)
ART_BG_23_1df.columns = ['아파트','가격','면적','층','위치']

ART_BG_23_12df.drop(columns=['Unnamed: 0'],inplace=True)
ART_BG_23_12df.columns = ['아파트','가격','면적','층','위치']

In [15]:
ART_JG_23_1df = pd.DataFrame(ART_JG_23_1df)
ART_JG_23_12df = pd.DataFrame(ART_JG_23_12df)

데이터 정보 읽기

In [16]:
#  중구 청아람아파트 1월 12월 정보 값 읽어오기
print(ART_JG_23_1df.info(), end='\n\n')
print(ART_JG_23_12df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     72 non-null     object
 1   가격      72 non-null     int64
 2   면적      72 non-null     float64
 3   층       72 non-null     int64
 4   위치      72 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.9+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     69 non-null     object
 1   가격      69 non-null     int64
 2   면적      69 non-null     float64
 3   층       69 non-null     int64
 4   위치      69 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.8+ KB
None

타겟팅 => 삼덕 청아람 1월 12월 가격 비교

In [17]:
#  중구 청아람아파트 1월 12월 칼럼즈 설정
print(ART_JG_23_1df.columns)
print(ART_JG_23_12df.columns)

Index(['아파트', '가격', '면적', '층', '위치'], dtype='object')
Index(['아파트', '가격', '면적', '층', '위치'], dtype='object')

In [18]:
ART_JG_23_1df.head()

            아파트     가격      면적   층          위치
0  남산롯데캐슬센트럴스카이  64500   84.95  12    남산동 3020
1       대신센트럴자이  59000   96.48  25    대신동 2106
2          미소시티  56500  124.15  24   계산동2가 100
3       남산자이하늘채  54000   84.89  13  남산동 2951-1
4          미소시티  49000  118.42   5   계산동2가 100

In [19]:
ART_JG_23_1df.tail()

        아파트     가격     면적   층          위치
67   보성황실타운  29800  84.98  15  남산동 2466-1
68   남산그린타운  25300  69.24   9  남산동 2937-1
69   보성황실타운  23500  59.96  14  남산동 2466-1
70       까치  15000  53.60  13  남산동 2482-1
71  남문시장2지구  13500  68.03   3   남산동 699-7

삼덕 청아람 데이터 추출

In [20]:
# 아파트 이름으로 데이터 추출
samdeok_df1 = ART_JG_23_1df[ART_JG_23_1df['아파트'] == '삼덕청아람']
print(f'삼덕 청아람 1월 데이터\n {samdeok_df1}')

samdeok_df12 = ART_JG_23_12df[ART_JG_23_12df['아파트'] == '삼덕청아람']
print(f'삼덕 청아람 12월 데이터\n {samdeok_df1}')

삼덕 청아람 1월 데이터
       아파트     가격     면적   층         위치
5   삼덕청아람  48000  84.57  34  삼덕동3가 383
14  삼덕청아람  44300  84.57  14  삼덕동3가 383
17  삼덕청아람  43900  84.61  24  삼덕동3가 383
삼덕 청아람 12월 데이터
       아파트     가격     면적   층         위치
5   삼덕청아람  48000  84.57  34  삼덕동3가 383
14  삼덕청아람  44300  84.57  14  삼덕동3가 383
17  삼덕청아람  43900  84.61  24  삼덕동3가 383

가격 추출 후 데이터 비교

In [21]:
# 삼덕 청아람 1월 가격 추출

samdeok_PRICE1 = samdeok_df1['가격'].mean()

print(samdeok_df1)
samdeok_PRICE1

      아파트     가격     면적   층         위치
5   삼덕청아람  48000  84.57  34  삼덕동3가 383
14  삼덕청아람  44300  84.57  14  삼덕동3가 383
17  삼덕청아람  43900  84.61  24  삼덕동3가 383

np.float64(45400.0)

면적 통일

기준 : 국민평수는 33평(108.9m2), 전용면적 85m2 이하의 아파트
<hr>

In [22]:
# 삼덕 청아람 12월 가격추출시 => 면적 80 이상만 저장장 

samdeok_df12 = samdeok_df12[samdeok_df12['면적'].dropna() > 80]

samdeok_df12

      아파트     가격     면적   층         위치
16  삼덕청아람  51000  84.61  21  삼덕동3가 383

In [23]:
# 면적 80 이상 가격 
samdeok_PRICE12 = samdeok_df12['가격'].mean()
samdeok_PRICE12

np.float64(51000.0)

In [24]:
samdeok_Avg = (samdeok_PRICE12/samdeok_PRICE1 -1)*100

samdeok_Avg

# 23년 1월~ 12월 까지 가격 상승 중구 청아람은 12% 상승했다.

np.float64(12.334801762114544)

학정 청아람 비교 <Hr>

In [25]:
ART_BG_23_1df = pd.DataFrame(ART_BG_23_1df)

ART_BG_23_12df = pd.DataFrame(ART_BG_23_12df)

print(ART_BG_23_1df)
print(ART_BG_23_12df)

               아파트     가격      면적   층          위치
0        코오롱하늘채2단지  71000  134.19  14   침산동 105-1
1           명성푸르지오  60000  140.71  10  침산동 269-10
2    오페라삼정그린코아더베스트  59900   84.97  26   칠성동2가 733
3    오페라삼정그린코아더베스트  55000   84.97  29   칠성동2가 733
4             복현자이  54000   84.99  11     복현동 703
..             ...    ...     ...  ..         ...
162           유성청구  10000   47.49   3   검단동 887-8
163        칠곡2동서타운   9500   39.87   9   구암동 655-3
164          칠곡한양2   9200   41.26   9    관음동 1370
165           산호한양   9000   36.18  10    읍내동 1351
166           유성청구   8000   35.10  15   검단동 887-8

[167 rows x 5 columns]
               아파트     가격      면적   층           위치
0    오페라트루엘시민의숲아파트  67000  115.26  16    고성동3가 145
1    침산1차푸르지오(2-2)  66000  112.11  28    칠성동2가 2-2
2           명성푸르지오  62000  113.20  15   침산동 269-10
3       한신더휴이스턴팰리스  56000  101.85  17      매천동 753
4        코오롱하늘채1단지  55000  106.38  14   침산동 105-73
..             ...    ...     ...  ..          ...
256       칠곡화성타운2차   9350   35.44  10    동천동 880-3
257           한신중앙   9200   47.25   6    태전동 936-1
258           칠곡목련   9200   43.02   2     읍내동 1171
259           한신중앙   8300   36.87   1    태전동 936-1
260          산격청구2   7700   31.60   4  산격동 1404-19

[261 rows x 5 columns]

In [26]:
# 아파트 이름으로 데이터 추출
Hakjeong_df1 = ART_BG_23_1df[ART_BG_23_1df['아파트'] == '학정청아람']

print(f'학정 청아람 1월 데이터\n {Hakjeong_df1}')

Hakjeong_df12 = ART_BG_23_12df[ART_BG_23_12df['아파트'] == '학정청아람']

print(f'학정 청아람 12월 데이터\n {Hakjeong_df12}')

학정 청아람 1월 데이터
       아파트     가격     면적   층       위치
72  학정청아람  28200  84.66   7  학정동 925
73  학정청아람  28000  84.66  22  학정동 925
87  학정청아람  24500  59.99   9  학정동 925
학정 청아람 12월 데이터
        아파트     가격     면적   층       위치
102  학정청아람  29200  84.62  25  학정동 925
113  학정청아람  27150  84.66  25  학정동 925
115  학정청아람  27000  77.10  14  학정동 925
116  학정청아람  27000  77.10  14  학정동 925
120  학정청아람  26600  84.66  14  학정동 925
130  학정청아람  24100  84.66   1  학정동 925
139  학정청아람  23450  59.62  13  학정동 925
148  학정청아람  21500  59.62  14  학정동 925

In [27]:
Hakjeong_df1 = Hakjeong_df1[Hakjeong_df1['면적'].dropna() > 80]
Hakjeong_PRICE1 = Hakjeong_df1['가격'].mean()

Hakjeong_df12 = Hakjeong_df12[Hakjeong_df12['면적'].dropna() > 80]
Hakjeong_PRICE12 = Hakjeong_df12['가격'].mean()

학정청아람 가격 평균

In [28]:
Hakdong_Avg = (Hakjeong_PRICE12/Hakjeong_PRICE1 -1)*100

Hakdong_Avg

np.float64(-4.759786476868333)

In [29]:
print(f"중구 삼덕 청아람 아파트 23년 1월~12월 상승률 : {samdeok_Avg}")
print(f"북구 학정 청아람 아파트 23년 1월~12월 상승률 : {Hakdong_Avg}")

중구 삼덕 청아람 아파트 23년 1월~12월 상승률 : 12.334801762114544
북구 학정 청아람 아파트 23년 1월~12월 상승률 : -4.759786476868333